@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">@ViewData["H1"]</h1>
    <h2 class="display-4">@ViewData["H2"]</h2>
    @ViewData["Message"];
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
